html,
body {
  height: 100%;
  color: black;
  background-color: black !important;
  margin: 0;
}

input:not([type="checkbox"]) {
  width: 8rem;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  height: 30px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.overlay-button {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  margin-bottom: 0.25rem !important;
}

.config-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.config-item input {
  margin-left: 1rem;
  float: right;
}

#canvas {
  width: 100%;
  height: calc(100% - 6px);
  image-rendering: pixelated;
}

.menu-offset {
  margin-bottom: 0.4rem !important;
}

.config-item table {
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.config-item table td {
  text-align: center;
  border-top: 1px solid #454d55;
}
.config-item table th {
  text-align: center;
}
.collection-footer {
  margin-bottom: 0.25rem;
}

.collection {
  background-color: #4b535c !important;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}

.collection input:not([type="checkbox"]) {
  float: none;
  width: 3rem;
  margin-left: 0;
}
.collection input[type="checkbox"] {
  float: none;
  margin-left: 0;
}

.collection-caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 0.375rem solid transparent;
  margin-bottom: 0.25rem;
  border-bottom-color: #f8f9fa;
}
.collapsed .collection-caret {
  margin-top: 0.5rem;
  border-top-color: #f8f9fa;
  border-bottom-color: rgba(0, 0, 0, 0);
}

tr.selected:hover {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
tr.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.if-launching {
  display: none !important;
}
.launching .if-launching {
  display: inline-block !important;
}

.if-not-launching {
  display: inline-block !important;
}
.launching .if-not-launching {
  display: none !important;
}

.if-manual {
  display: none;
}
.manual .if-manual {
  display: inline-block;
}

#food-components {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 6px;
}

#food-components img {
  display: inline-block;
  position: absolute;
}

#initial-velocity {
  position: absolute;
  cursor: move;
}
